# Output of Simulation
Output/*

# Simulator files
.sims/*

# Temporary / Utility files
*.tmp
*.temp
*.bak
*.log

# Input python files
.input/simManager.py
.input/tuning.py
.input/create-params.py
.input/sim/process.py
.input/sim/queue.py