# Output of Simulation
simOutput/hdf5/*
simOutput/images/*
simOutput/*

# ATTPCROOT build logs
log.log

# Padplane_manipulation.ipynb applied to simOutput/images
simOutput/aug_images/*

# Analysis created by img_analysis.ipynb
Analysis/sim_data.csv
Analysis/event_data.csv

# Temporary files
simInput/queue/*
simInput/iter-params.py
simInput/create-params.py
simInput/tuning-params.py
simInput/tuning-view.py
nohup.out
simInput/h5-to-img.py